<div>
  <div *ngIf="displayLoyalty">You are on team {{loyalty}}</div>
  <div><button (click)="toggleDisplayLoyalty()">
    <div *ngIf="!displayLoyalty">Show</div>
    <div *ngIf="displayLoyalty">Hide</div>
  </button></div>
  <div class="mission-results">
    <div>Mission Results</div>
    <div class="round-numbers">
      <div>1</div>
      <div>2</div>
      <div>3</div>
      <div>4</div>
      <div>5</div>
    </div>
    <div class="round-results">
      <div>{{game.missionResults[0]}}</div>
      <div>{{game.missionResults[1]}}</div>
      <div>{{game.missionResults[2]}}</div>
      <div>{{game.missionResults[3]}}</div>
      <div>{{game.missionResults[4]}}</div>
    </div>
  </div>
  <div class="leader">
    Leader: {{currentLeader.name}}
  </div>

  <div *ngIf="playerId===currentLeader._id; else nonLeader">
    <div>Choose {{TEAM_SIZES[this.game.players.length][this.game.currentRound]}} players for team</div>
    <div class="team-buttons">
      <div *ngFor="let player of game.players" class="player-button" (click)="selectPlayer(player._id)" [ngClass]="{'selected': selection.includes(player._id)}">
        {{player.name}}
      </div>
    </div>
    <div><button (click)="submitSelection()">Submit</button></div>
  </div>

  <ng-template #nonLeader>
    <div>
      Waiting for leader to choose team.
    </div>
  </ng-template>
</div>
