<div class="mt-4 pt-4 border-top small text-center">
  <div>
    <a href="http://upload.snakesandlattes.com/rules/r/ResistanceAvalon.pdf" class="text-dark"><u>Official Rules</u></a>
  </div>
  <div>
    <a href="https://indieboardsandcards.com/index.php/our-games/the-resistance-avalon/" class="text-dark"><u>The Resistance: Avalon</u></a>
      designed by Don Eskridge, published by
    <a href="https://indieboardsandcards.com/" class="text-dark"><u>Indie Boards and Cards</u></a>
  </div>
  <div>
    Inspired by <a href="https://spyfall.crabhat.com/" class="text-dark"><u>spyfall.crabhat.com</u></a>
  </div>
  <div>
    <a href="https://github.com/cudzinovica/resistance/issues/new" class="text-dark"><u>Found a bug?</u></a>
  </div>
  <div>
    <a href="https://github.com/cudzinovica/resistance" class="text-dark"><u>https://github.com/cudzinovica/resistance</u></a>
  </div>
  <div>
    Avalon roles (i.e. Merlin, Assassin, etc.) coming soon!
  </div>
</div>
