<div class="mt-5">
  <!-- Announce which team one -->
  <div class="text-center">
    <div><h5>Game Over</h5></div>
    <div><h3>{{winningTeam}} wins!</h3></div>
  </div>

  <!-- Quest Results -->
  <div class="text-center mt-4 pt-4 border-top">
    <div class="h5">Quest Results</div>
    <div class="row">
      <div *ngFor="let roundNumber of [0,1,2,3,4]" class="w-20 mx-1 p-1 border col" [ngClass]="getQuestResultBorderClass(roundNumber)">
        <div class="scaling-text">Round {{roundNumber+1}}</div>
        <div class="h5 m-0">{{roundNumber > game.currentRound ? TEAM_SIZES[game.players.length][roundNumber] : game.missionResults[roundNumber] ? "Pass" : "Fail"}}</div>
      </div>
    </div>
  </div>

  <!-- Player Details -->
  <div class="text-center mt-4 row">
    <div class="col border-right">
      <h6>Good</h6>
      <div *ngFor="let player of goodPlayers">{{player.name}}</div>
    </div>
    <div class="col">
      <h6>Evil</h6>
      <div *ngFor="let player of evilPlayers">{{player.name}}</div>
    </div>
  </div>

  <div class="mt-4 pt-4 border-top text-center"><button type="button" class="btn btn-outline-primary" (click)=goToLobby()>Back to Lobby</button></div>
</div>
