<div class="jumbotron text-center mt-5">
  <div>
    <h1>
      Welcome to The Resistance!
    </h1>
  </div>

  <div class="mt-3 mx-5">
      <input type="text" class="form-control" placeholder="Enter Name" autocorrect="off" #playerName />
  </div>
  <div class="mt-3">
    <div class="d-inline mx-1">
      <button type="button" class="btn btn-outline-primary" (click)="joinGame(playerName.value);">Join</button>
    </div>
    <div class="d-inline mx-1">
      <button type="button" class="btn btn-outline-primary" (click)="leaveGame()">Back</button>
    </div>
  </div>
</div>
