<div *ngIf="game.currentTeam.includes(playerId); else notOnTeam" class="mt-4">
  <div *ngIf="!player.hasQuested; else hasQuestedTemplate">
    <div>Choose Mission Outcome.</div>
    <div class="mt-2 row">
      <div class="col text-center"><button type="button" class="btn btn-outline-primary" (click)="submitQuest(true)">Pass</button></div>
      <div class="col text-center"><button type="button" class="btn btn-outline-primary" [disabled]="player.loyalty" [ngClass]="{'btn-outline-secondary': player.loyalty}" (click)="submitQuest(false)">Fail</button></div>
    </div>
  </div>
  <ng-template #hasQuestedTemplate>
    <div>Waiting for rest of team to quest.</div>
  </ng-template>
</div>
<ng-template #notOnTeam>
  <div class="mt-4">Waiting for team to go on quest.</div>
</ng-template>
