<div *ngIf="game.winningTeam === null || !displayGameOver; else gameOverTemplate" class="text-center">
  <div>
    <h1>
      Lobby
    </h1>
  </div>

  <div class="mt-3">
    <h5>Game Code: {{game.roomCode}}</h5>
  </div>

  <div class="mt-3">
    <h6>Players:</h6>
    <div class="ml-5 text-left">
      <div *ngFor="let player of game.players" class="d-flex flex-row justify-content-between">
        <div>
            {{player.name}}
        </div>
        <div *ngIf="player._id === playerId">
          <span class="oi oi-pencil pointer" title="Edit Name" aria-hidden="true" (click)="leaveGame()" (mouseenter)="hovered.add(player._id)" (mouseleave)="hovered.delete(player._id)" [ngClass]="{'text-primary': hovered.has(player._id)}"></span>
        </div>
        <div *ngIf="player._id !== playerId">
          <span class="oi oi-x pointer" title="Kick Player" aria-hidden="true" (click)="kickPlayer(player._id)" (mouseenter)="hovered.add(player._id)" (mouseleave)="hovered.delete(player._id)" [ngClass]="{'text-primary': hovered.has(player._id)}"></span>
        </div>
      </div>
    </div>
  </div>


  <div class="mt-3">
    <div class="d-inline mx-1">
      <button type="button" class="btn btn-outline-primary" (click)="startGame()">Start Game</button>
    </div>
    <div class="d-inline mx-1">
      <button type="button" class="btn btn-outline-primary" (click)="exitGame()">Exit Game</button>
    </div>
  </div>
</div>

<ng-template #gameOverTemplate>
  <app-game-over [game]=game (displayGameOverChange)="changeDisplayGameOver($event)"></app-game-over>
</ng-template>
