<div *ngIf="!displayGameOver; else gameOverTemplate">
  <div style="text-align:center">
      <h1>
        Lobby
      </h1>
    </div>

    <ul class="players">
      <li *ngFor="let player of game.players">
        {{player.name}}
      </li>
    </ul>

    <div>
      <button class="start" title="Start Game"
        (click)="startGame()">Start Game</button>
    </div>
</div>
<ng-template #gameOverTemplate>
  <app-game-over [game]=game (displayGameOverChange)="changeDisplayGameOver($event)"></app-game-over>
</ng-template>
