<div>
  <div *ngIf="playerId===currentLeader._id; else nonLeader">
    <div>Choose {{TEAM_SIZES[this.game.players.length][this.game.currentRound]}} players for team</div>
    <div class="team-buttons">
      <div *ngFor="let player of game.players"><button class="select-button" (click)="selectPlayer(player._id)" [ngClass]="{'selected': selection.includes(player._id)}">
        {{player.name}}
      </button></div>
    </div>
    <div><button (click)="submitSelection()">Submit</button></div>
  </div>

  <ng-template #nonLeader>
    <div>
      Waiting for leader to choose team.
    </div>
  </ng-template>
</div>
