<div class="mx-1">
  <!-- end game button -->
  <div class="text-right">
    <button type="button" class="btn btn-outline-primary" (click)="endGame()">End Game</button>
  </div>

  <!-- loyalty -->
  <div class="row mt-3">
    <div *ngIf="displayLoyalty" class="col">
      <div>You are on team {{loyalty}}</div>
    </div>
    <div class="col text-right"><button type="button" class="btn btn-outline-primary" (click)="toggleDisplayLoyalty()">
      <div *ngIf="!displayLoyalty">Show</div>
      <div *ngIf="displayLoyalty">Hide</div>
    </button></div>
  </div>

  <!-- quest results -->
  <div class="text-center mt-2">
    <div>Quest Results</div>
    <div class="row">
      <div *ngFor="let number of [0,1,2,3,4]" class="col">
        <div *ngIf="number == 3 && game.players.length >= 7" class="small">Two fails required</div>
      </div>
    </div>
    <div class="row" [ngClass]="{'mb-3': game.missionResults.length === 0}">
      <div *ngFor="let number of [0,1,2,3,4]" class="col">
        <div>Round {{number+1}}{{game.currentRound === number ? "*" : ""}}</div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let number of [0,1,2,3,4]" class="col">{{game.missionResults[number] === undefined ? " " : game.missionResults[number] ? "S" : "F"}}</div>
    </div>
  </div>

  <!-- failed vote counter -->
  <div class="mt-2">
    <div>Failed Votes: {{game.failedVotes}} (Evil wins at 5)</div>
  </div>

  <!-- previous phase results -->
  <ngb-alert *ngIf="phaseChangeStatus === phaseChangeStatuses.LobbyToSelection" (close)="phaseChangeStatus = null" class="mt-2">
    <div>Game has started</div>
  </ngb-alert>

  <ngb-alert *ngIf="phaseChangeStatus === phaseChangeStatuses.QuestToSelection" (close)="phaseChangeStatus = null" class="mt-2">
    <div>Previous Round's Quest Results:</div>
    <div>{{previousPasses}} Passes, {{previousFails}} Fails</div>
  </ngb-alert>

  <ngb-alert *ngIf="phaseChangeStatus === phaseChangeStatuses.VoteToSelection || phaseChangeStatus === phaseChangeStatuses.VoteToQuest" (close)="phaseChangeStatus = null" class="mt-2">
    <div *ngIf="phaseChangeStatus === phaseChangeStatuses.VoteToSelection">Vote did not pass</div>
    <div *ngIf="phaseChangeStatus === phaseChangeStatuses.VoteToQuest">Vote passed</div>
    <div class="mt-1">
      <div>Vote breakdown</div>
      <div class="d-flex flex-row flex-wrap mt-1">
        <div *ngFor="let player of currentTeamPlayers" class="w-50">
          <div class="col d-flex flex-row justify-content-between mx-2">
            <div>{{player.name}}</div>
            <div *ngIf="player.currentVote">Y</div>
            <div *ngIf="!player.currentVote">N</div>
          </div>
        </div>
      </div>
    </div>
  </ngb-alert>

  <ngb-alert *ngIf="phaseChangeStatus === phaseChangeStatuses.SelectionToVote" (close)="phaseChangeStatus = null" class="mt-2">
    <div>Proposed Team</div>
    <div class="d-flex flex-row flex-wrap mt-1">
      <div *ngFor="let player of currentTeamPlayers" class="w-50">
        <div class="col">{{player.name}}</div>
        <div *ngIf="game.phase === gamePhases.Quest && player.hasQuested" class="col small">Q</div>
      </div>
    </div>
  </ngb-alert>

  <!-- player list -->
  <div class="mt-2">
    <div>Players</div>
    <div class="mt-1 d-flex flex-row flex-wrap">
      <div *ngFor="let player of game.players" class="w-50 row">
        <div class="col">{{player.name}}</div>
        <div *ngIf="player._id === currentLeader._id" class="col small">L</div>
        <div *ngIf="game.currentTeam.includes(player._id)" class="col small">T</div>
      </div>
    </div>
  </div>

  <div *ngIf="game.phase == gamePhases.Selection"><app-selection [game]=game [playerId]=playerId [currentLeader]=currentLeader></app-selection></div>
  <div *ngIf="game.phase == gamePhases.Vote"><app-vote [game]=game [playerId]=playerId [player]=player></app-vote></div>
  <div *ngIf="game.phase == gamePhases.Quest"><app-quest [game]=game [playerId]=playerId [player]=player></app-quest></div>
</div>
