<div class="mx-1">
  <div *ngIf="game.phase != gamePhases.Lobby">
    <button type="button" class="btn btn-outline-primary" (click)="endGame()">End Game</button>
  </div>
  <div class="row mt-3">
    <div *ngIf="displayLoyalty" class="col">
      <div>You are on team {{loyalty}}</div>
      <div *ngIf="!player.loyalty" class="mt-2">
        <div>Fellow Traitors</div>
        <div *ngFor="let player of fellowTraitors">{{player.name}}</div>
      </div>
    </div>
    <div class="col text-right"><button type="button" class="btn btn-outline-primary" (click)="toggleDisplayLoyalty()">
      <div *ngIf="!displayLoyalty">Show</div>
      <div *ngIf="displayLoyalty">Hide</div>
    </button></div>
  </div>

  <div class="text-center mt-2">
    <div>Quest Results</div>
    <div class="row">
      <div class="col">1</div>
      <div class="col">2</div>
      <div class="col">3</div>
      <div class="col">4</div>
      <div class="col">5</div>
    </div>
    <div class="row">
      <div class="col">{{game.missionResults[0] === undefined ? " " : game.missionResults[0] ? "S" : "F"}}</div>
      <div class="col">{{game.missionResults[1] === undefined ? " " : game.missionResults[1] ? "S" : "F"}}</div>
      <div class="col">{{game.missionResults[2] === undefined ? " " : game.missionResults[2] ? "S" : "F"}}</div>
      <div class="col">{{game.missionResults[3] === undefined ? " " : game.missionResults[3] ? "S" : "F"}}</div>
      <div class="col">{{game.missionResults[4] === undefined ? " " : game.missionResults[4] ? "S" : "F"}}</div>
    </div>
  </div>

  <div *ngIf="game.currentRound > 0 && game.phase === gamePhases.Selection" class="mt-2">
    <div>Previous Round's Quest Results:</div>
    <div>{{previousPasses}} Passes, {{previousFails}} Fails</div>
  </div>

  <div class="mt-2">
    <div>Current Round: {{game.currentRound + 1}}</div>
  </div>

  <div class="mt-2">
    <div>Failed Votes: {{game.failedVotes}}</div>
  </div>

  <div *ngIf="game.phase === gamePhases.Quest" class="mt-2">
    <div>Vote Results:</div>
    <div class="mt-1 d-flex flex-wrap">
      <div *ngFor="let player of game.players" class="w-50">
        <div>{{player.name}}: {{player.currentVote ? "Yes" : "No"}}</div>
      </div>
    </div>
  </div>

  <div class="mt-2">
    Leader: {{currentLeader.name}}
  </div>

  <div *ngIf="game.phase == gamePhases.Selection"><app-selection [game]=game [playerId]=playerId [currentLeader]=currentLeader></app-selection></div>
  <div *ngIf="game.phase == gamePhases.Vote"><app-vote [game]=game [playerId]=playerId [player]=player></app-vote></div>
  <div *ngIf="game.phase == gamePhases.Quest"><app-quest [game]=game [playerId]=playerId [player]=player></app-quest></div>
</div>
